@import "poole";
@import "syntax";
@import "lanyon";

tr a span img {
	margin: auto;
}

.twitter {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #eee;
}

.imageWrap {
	margin: 0px auto 10px;
	max-width: 660px;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	img {
		width: 100%;
		max-width: 640px;
		margin: 10px auto 20px;
	}
	.caption {
		text-align: center;
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid #e5e5e5;
	}
}

$fg-color: rgba(76,50,12,1);
$bg-color: rgba(250,233,161,1);

html, body {
	background-color: $bg-color;
	color: $fg-color;
}
.masthead-title a,
.page-title,
.post-title,
.post-title a,
h1,h2,h3 {
	color: $fg-color;
}
.post-date,
.related-posts li small {
	color: lighten($fg-color, 20%)
}
.sidebar-toggle {
	color: $bg-color;
	background-color: $fg-color;
}
.sidebar-toggle:active, #sidebar-checkbox:checked ~ .sidebar-toggle {
	color: $fg-color;
	background-color: $bg-color;
}

.sidebar {
	background-color: $fg-color;
	color: darken($bg-color, 40%);
	a {
		color: $bg-color;
	}
}
